.cta {
    background: var(--indigo);
    &__container {
        padding-top: 96px;
        padding-bottom: 96px;
        @media(max-width: 999px) {
            padding: 96px 10px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
    &__title {
        color: #FFF;
        font-size: 44px;
        font-weight: 700;
        line-height: 140%;
        text-align: center;
        max-width: 620px;
        @media(max-width: 699px) {
            font-size: 36px;
            max-width: 540px;
        }
        @media(max-width: 550px) {
            font-size: 32px;
        }
        @media(max-width: 480px) {
            font-size: 26px;
        }
        @media(max-width: 480px) {
            font-size: 22px;
        }
        @media(max-width: 300px) {
            font-size: 18px;
        }
    }
    &__description {
        color: rgba(255, 255, 255, 0.5);

        font-size: 20px;
        font-weight: 400;
        line-height: 180%;
        text-align: center;
        max-width: 744px;
        @media(max-width: 699px) {
            font-size: 16px;
            max-width: 540px;
        }
        @media(max-width: 550px) {
            max-width: 380px;
            font-size: 14px;
        }
        @media(max-width: 300px) {
            font-size: 12px;
        }
    }
    &__button {
        background: #FFF;
        border-radius: 8px;
        padding: 14px 32px;
        border: 1px solid transparent;

        font-size: 16px;
        font-weight: 500;
        color: var(--black);
        transition: .3s linear;
        &:hover {
            background: var(--black);
            border: 1px solid #FFF;
            color: #FFF;
        }
    }
}