.header {
    position: relative;

    &__container {
        @media(max-width: 999px) {
            max-width: 100%;
            margin: 0;
            padding: 0 20px;
        }
    }
    &__row {
        padding: 40px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
        // SAFE GAP FOR WIDTH
        column-gap: 40px;
    }
    &__nav {
        display: flex;
        align-items: center;
        column-gap: 40px;

        .nav {
            @media(max-width: 1100px) {
                position: absolute;
                left: -100%;
                top: 0; 
                width: 80%;
                height: 100vh;
                overflow: auto;
                background: #bebebe5d;
                display: flex;
                justify-content: center;
                z-index: 5;
                transition: .3s linear;
                &.active {
                    left: 0;
                }
            }
            .nav__list {
                display: flex;
                align-items: center;
                column-gap: 40px;
                @media(max-width: 1100px) {
                    flex-direction: column;
                    row-gap: 60px;
                    align-items: center;
                    margin: auto;
                }
                // ITEM ON NAV-LIST
                .nav__dropmenu {
                    &.active {
                        opacity: 1;
                        visibility: visible;
                        transform: rotate(0);
                    }
                }
                li:hover>.submenu {
                    opacity: 1;
                    visibility: visible;
                    transform: rotate(0);
                }
                li {
                    position: relative;
                    .submenu {
                        position: absolute;
                        top: 100%;
                        border: 1px solid var(--black-56);
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        border-radius: 3px;
                        z-index: 5;
                        transform-origin: 0 0;
                        transform: rotateX(-90deg);
                        transition: .3s linear;
                        @media(max-width: 1100px) {
                            top: 200%;
                            left: -50%;
                            z-index: 10;   
                            background-color: #ffffff;  
                            row-gap: 30px; 
                            align-items: center;  
                        }
                        li {
                            position: relative;
                        }
                        a {
                            display: block;
                            border-bottom: 1px solid transparent;
                            transition: .3s linear;
                            padding: 10px 15px;
                            &:hover {
                                border-bottom: 1px solid var(--indigo);
                                background-color: #e6e5e5;
                                width: 100%;
                            }
                            @media(max-width: 1100px) {
                                font-size: 24px;
                                padding: 10px 50px;
                            }
                        }
                }
            }
            .nav__link {
                color: var(--black-72);
                font-weight: 500;
                line-height: 24px;
                font-size: 14px;

                transition: .3s linear;
                &:hover {
                    color: var(--indigo);
                }
                @media(max-width: 1100px) {
                    font-size: 26px;
                    font-weight: 700;
                    z-index: 3;
                }
            }
            }
        }

    }
    &__buttons {
        display: flex;
        column-gap: 8px;
        align-items: center;
        @media(max-width: 730px) {
            position: absolute;
            left: 0;
            top: 75vh;
            left: 25%;
            z-index: 10;
        }
        @media(max-width: 680px) {
            left: 22%;    
        }
        @media(max-width: 550px) {
            left: 20%;    
        }
        @media(max-width: 450px) {
            left: 13%;    
        }
        @media(max-width: 380px) {
            flex-direction: column;
            row-gap: 20px;
            left: 25%;
        }
        @media(max-width: 300px) {
            flex-direction: column;
            row-gap: 20px;
            left: 20%;
        }
        .header-btn {
            padding: 8px 24px;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            border-radius: 6px;

        }
        .login {
            background: transparent;
            color: var(--black);
            transition: .5s linear;
            &:hover {
                color: #FFF;
                background: var(--indigo);
            }
        }
        .register {
            background: var(--indigo);
            color: #FFF;
            transition: .5s linear;
            &:hover {
                background: transparent;
                color: var(--black);
            }
        }
    }

    .header-menu {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }

    // MOBILE NAV
    .nav-menu {
        display: none;
        @media(max-width: 1100px) {
            display: block;
            width: 40px;
            height: 18px;
            position: relative;
            z-index: 100;
            span {
                position: absolute;
                top: calc(50% - 1px);
                left: 0;
                background: #000;
                width: 100%;
                height: 3px;
                transition: all 0.2s ease-in;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    bottom: 0;
                    top: auto;
                }
            }
            &.active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}
