.header-03 {
    position: relative;
    &__container{
        // padding-top: 36px;
        // padding-bottom: 36px;
        @media(max-width: 1400px) {
            padding-left: 70px;
            padding-right: 70px;
        }
        @media(max-width: 1250px) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    &__row {
        padding-top: 36px;
        padding-bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 30px;
        position: relative;
    }
    &__row-navigation {
        display: flex;
        align-items: center;
        column-gap: 97px;
        @media(max-width: 599px) {
            column-gap: 24px;
        }
        .nav {
            position: relative;
            z-index: 100;
            @media(max-width: 1100px) {
                position: absolute;
                left: -100%;
                top: 0; 
                width: 80%;
                height: 100vh;
                overflow: auto;
                background: #bebebee5;
                display: flex;
                justify-content: center;
                z-index: 5;
                transition: .3s linear;
                &.active {
                    left: -5%;
                    @media(max-width: 700px) {
                        left: -5%;
                    }
                    @media(max-width: 500px) {
                        left: -12%;
                    }
                }
            }
            .nav__list {
                display: flex;
                column-gap: 48px;
                align-items: center;
                @media(max-width: 1100px) {
                    flex-direction: column;
                    row-gap: 60px;
                    align-items: center;
                    margin: auto;
                }
                @media(max-width: 500px) {
                    row-gap: 40px;         
                }
                .nav__link {
                    cursor: pointer;
                    font-size: 14px;
                    color: var(--black-72);
                    font-weight: 400;
                    line-height: 180%;
                    transition: .3s linear;
                    &:hover {
                        color: var(--indigo);
                    }
                    @media(max-width: 1100px) {
                        color: var(--)    
                    }
                    @media(max-width: 1100px) {
                        font-size: 26px;
                        font-weight: 700;
                        z-index: 3;
                    }
                }       
                .header-btn {
                    font-size: 14px;
                    font-weight: 500;
                    padding: 8px 24px;
                }
                .watch, .register {
                    display: none;
                    @media(max-width: 500px) {
                        display: block;
                    }
                }
                .watch {
                    background-color: var(--indigo);
                    border: 1px solid transparent;
                    color: #FFF;
                    border-radius: 8px;
                    transition: .3s linear;
                    &:hover {
                        background: transparent;
                        border: 1px solid var(--black);
                        color: var(--black);
                    }
                }
                .register {
                    color: var(--black);
                    border: 1px solid var(--black);
                    border-radius: 8px;
                    transition: .3s linear;
                    &:hover {
                        background: var(--indigo);
                        border: 1px solid transparent;
                        color: #FFF;
                    }
                }
            }
            // DROPMENU
            li:hover>.submenu {
                opacity: 1;
                visibility: visible;
                transform: rotate(0);
            }
            li {
                position: relative;
            }
            .submenu {
                position: absolute;
                top: 100%;
                border: 1px solid var(--black-56);
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                border-radius: 3px;
                transform-origin: 0 0;
                transform: rotateX(-90deg);
                transition: .3s linear;
                @media(max-width: 1920px) {
                    left: -200%;
                }
                @media(max-width: 1100px) {
                    background: #ffffffc5;
                    top: 100%;
                    left: -20%;
                    z-index: 10;   
                    row-gap: 30px; 
                    align-items: center;  
                }
                li {
                    position: relative;
                    &:nth-child(2) {
                        background: #0000007e;
                        color: #FFF;
                        width: 100%;
                    }
                }
                a {
                    display: block;
                    border-bottom: 1px solid transparent;
                    transition: .3s linear;
                    padding: 10px 15px;
                    &:hover {
                        border-bottom: 1px solid var(--indigo);
                        background-color: #e6e5e5;
                        width: 100%;
                    }
                }
            }
        }
        .header-03__buttons {
            display: flex;
            column-gap: 16px;
            @media(max-width: 500px) {
                display: none;        
            }
            .header-btn {
                font-size: 14px;
                font-weight: 500;
                padding: 8px 24px;
            }
            .watch {
                background-color: var(--indigo);
                border: 1px solid transparent;
                color: #FFF;
                border-radius: 8px;
                transition: .3s linear;
                &:hover {
                    background: transparent;
                    border: 1px solid var(--black-40);
                    color: var(--black);
                }
            }
            .register {
                color: var(--black);
                border: 1px solid var(--black-40);
                border-radius: 8px;
                transition: .3s linear;
                &:hover {
                    background: var(--indigo);
                    border: 1px solid transparent;
                    color: #FFF;
                }
            }
        }
        .nav-menu {
            display: none;
            @media(max-width: 1100px) {
                display: block;
                width: 40px;
                height: 18px;
                position: relative;
                z-index: 100;
                span {
                    position: absolute;
                    top: calc(50% - 1px);
                    left: 0;
                    background: #000;
                    width: 100%;
                    height: 3px;
                    transition: all 0.2s ease-in;
                    &:first-child {
                        top: 0;
                    }
                    &:last-child {
                        bottom: 0;
                        top: auto;
                    }
                }
                &.active {
                    span {
                        transform: scale(0);
                        &:first-child {
                            transform: rotate(-45deg);
                            top: calc(50% - 1px);
                        }
                        &:last-child {
                            transform: rotate(45deg);
                            bottom: calc(50% - 1px);
                        }
                    }
                }
            }
        }
    }
}