.spotlight {
    &__container {
        padding-top: 96px;
        padding-bottom: 96px;
        @media(max-width: 1300px) {
            padding: 96px 30px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        column-gap: 120px;
        justify-content: center;
        @media(max-width: 999px) {
            flex-direction: column;
            row-gap: 40px;
            text-align: center;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width: 999px) {
            align-items: center;     
        }
        .text-category {
            font-size: 14px;
            margin-bottom: 20px;
        }
        .text-title {
            font-size: 40px;
            max-width: 456px;
            margin-bottom: 16px;
            @media(max-width: 500px) {
                max-width: 400px;
                font-size: 32px;      
            }
            @media(max-width: 360px) {
                max-width: 300px;
                font-size: 24px;      
            }
            @media(max-width: 300px) {
                max-width: 200px;
                font-size: 16px;      
            }
        }
        .text-description {
            font-size: 16px;
            max-width: 456px;
            margin-bottom: 32px;
            @media(max-width: 360px) {
                font-size: 12px;      
            }
        }
        .spotlight-text__button {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;

            background: var(--indigo);
            border: 1px solid transparent;
            padding: 14px 32px;
            border-radius: 8px;
            transition: .3s linear;
            &:hover {
                color: var(--black);
                background: transparent;

                border: 1px solid var(--black-40);
            }
        }
    }
    &__video {
        position: relative;
        img {
            border-radius: 16px;
            box-shadow: 0px 8px 20px 0px rgba(18, 17, 39, 0.10);
        }
        .img-play {
            background: var(--indigo);
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            top: 38%;
            left: 45%;
            @media(max-width: 500px) {
                width: 60px;
                height: 60px;            
            }
            @media(max-width: 360px) {
                width: 40px;
                height: 40px;            
            }
            &::before {
                content: '';
                position: absolute;

                background-image: url('./../img/page-03/spotlight/play-filled.svg');
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                top: 30%;
                left: 30%;
                @media(max-width: 500px) {
                    width: 22px;
                    height: 22px; 
                    left: 32%;
                    top: 32%;           
                }
                @media(max-width: 360px) {
                    width: 18px;
                    height: 18px;    
                    top: 30%;
                    left: 30%;        
                }
            }
        }
    }
}