html {
    scroll-behavior: smooth;
}

.page-03 {
    background-image: url('./../img/page-03/article-bg.png');
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 352px;
}

body {
    position: relative;
    font-family: var(--main-font);
    background-color: #fff;
    a 
    {color: var(--main-color)};
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 156px;
}

.text-category {
    color: var(--indigo);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 170%;
}

.text-title {
    color: var(--black);
    font-weight: 700;
    line-height: 140%;
}

.text-description {
    color: var(--black-56);
    font-weight: 400;
}