:root {
    --main-font: 'Poppins', sans-serif;

    --black: #121127;
    --black-72:  rgba(18, 17, 39, 0.72);
    --black-56:  rgba(18, 17, 39, 0.56);
    --black-40:  rgba(18, 17, 39, 0.40);
    --indigo: #444BD3;
    --blue: #4E8AF4;
}
// font-family: 'Poppins', sans-serif;