.cta-02 {
    background: #F2F3FF;
    &__container {
        padding-top: 96px;
        padding-bottom: 96px;
        @media(max-width: 999px) {
            padding: 96px 10px;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
        align-items: center;
    }
    .text-title {
        font-size: 44px;
        max-width: 620px;
        @media(max-width: 570px) {
            font-size: 32px;
        }
        @media(max-width: 420px) {
            font-size: 22px;
        }
    }
    .text-description {
        font-size: 20px;
        max-width: 744px;
        @media(max-width: 570px) {
            font-size: 16px;
        }
        @media(max-width: 420px) {
            font-size: 14px;
        }
    }
    .cta-02__button {
        padding: 14px 32px;
        background: var(--indigo);
        font-size: 16px;
        color: #FFF;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 8px;
        transition: .3s linear;
        &:hover {
            border: 1px solid var(--black);
            color: var(--black);
            background: transparent;
        }
    }
}