.header-02 {
    background: var(--yellow-50);
    &__container {
        padding-top: 32px;
        padding-bottom: 32px;
        @media(max-width: 999px) {
            padding-left: 40px;
            padding-right: 40px;
        }
        @media(max-width: 500px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        column-gap: 32px; 
        align-items: center;

    }
    .nav {
        @media(max-width: 999px) {
            position: absolute;
            left: -100%;
            top: 0; 
            width: 80%;
            height: 100vh;
            overflow: auto;
            background: #bebebee5;
            display: flex;
            justify-content: center;
            z-index: 100;
            transition: .3s linear;
            &.active {
                left: 0;
                @media(max-width: 700px) {
                    left: -5%;
                }
                @media(max-width: 500px) {
                    left: -10%;
                }
            }
        }
    }
    &__list {
        display: flex;
        column-gap: 56px;
        align-items: center;
        @media(max-width: 999px) {
            flex-direction: column;
            row-gap: 60px;
            align-items: center;
            margin: auto;
        }
        // Links 1lvl menu
        .header-02__link {
            color: var(--black-72);
            font-size: 16px;
            font-weight: 400;
            line-height: 180%;
            cursor: pointer;
            transition: .3s linear;
            // CURRENT LINK

            &:hover {
                color: var(--indigo);
            }
            @media(max-width: 999px) {
                color: var(--)    
            }
            @media(max-width: 999px) {
                font-size: 26px;
                font-weight: 700;
                z-index: 3;
            }
        }
        // DROPMENU
        li:hover>.submenu {
            opacity: 1;
            visibility: visible;
            transform: rotate(0);
        }
        li {
            position: relative;
        }
        .submenu {
            position: absolute;
            top: 100%;
            border: 1px solid var(--black-56);
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            border-radius: 3px;
            z-index: 5;
            transform-origin: 0 0;
            transform: rotateX(-90deg);
            transition: .3s linear;
            @media(max-width: 999px) {
                background: var(--yellow-50);
                top: 100%;
                left: -50%;
                z-index: 10;   
                row-gap: 30px; 
                align-items: center;  
            }
            li {
                position: relative;
                &:nth-child(1) {
                    background: #0000007e;
                    color: #FFF;
                }
            }
            a {
                display: block;
                border-bottom: 1px solid transparent;
                transition: .3s linear;
                padding: 10px 15px;
                &:hover {
                    border-bottom: 1px solid var(--indigo);
                    background-color: #e6e5e5;
                    width: 100%;
                }
                @media(max-width: 999px) {
                    font-size: 24px;
                    padding: 10px 50px;
                }
            }
        }
    }
    .nav-menu {
        display: none;
        @media(max-width: 999px) {
            display: block;
            width: 40px;
            height: 18px;
            position: relative;
            z-index: 100;
            span {
                position: absolute;
                top: calc(50% - 1px);
                left: 0;
                background: #000;
                width: 100%;
                height: 3px;
                transition: all 0.2s ease-in;
                &:first-child {
                    top: 0;
                }
                &:last-child {
                    bottom: 0;
                    top: auto;
                }
            }
            &.active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
                }
            }
        }
    }
}