// Base

@import "./base/reset";
@import "./base/vars";
@import "./base/base";
@import "./base/utils";

// blocks
@import "./blocks/*.scss";
@import "./blocks/index/*.scss";
@import "./blocks/page-02/*.scss";